.siteHeader{
  background-color: RebeccaPurple;
  color: CornflowerBlue;
  text-align: center;
}

.info{
  background-color: CornflowerBlue;
  color: BlanchedAlmond;
  text-align: center;
}

.transportDescription{
  background-color: BlanchedAlmond;
  color: RebeccaPurple;
  text-align: center;
}
